.productTile {
  &-wrapper {
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    height: 30rem;
    box-shadow: 10px 10px 20px #eee;
  }
}

.product {
  &-tiles {
    width: 70%;
    height: 100%;
    background-color: rgba(241, 241, 241, 0.63);
    display: flex;
    align-items: center;
  }
  &-heading {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-title {
      font-size: 4rem;
      font-family: "Abril Fatface", cursive;
      text-transform: uppercase;
    }

    &-button {
      cursor: pointer;
      margin-top: 1rem;
      padding: 1rem 3rem;
      font-size: 2rem;
      border: 5px solid #eee;
      font-family: "Girassol", cursive;
      transition: all 0.2s ease-in;

      &:hover {
        box-shadow: 5px 5px 20px rgb(219, 219, 219);
        background-color: rgb(243, 241, 241);
        margin-left: 2px;
      }
    }
  }

  &-items {
    &-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      align-items: center;
      margin-left: 1rem;

      & > div {
        margin-right: 3rem;
      }
    }

    &-item {
      position: relative;
      background-color: #fff;
      flex: 0 0 auto;
      width: 25rem;
      height: 25rem;
      box-shadow: 10px 10px 15px rgb(138, 138, 138);
      // margin-right: 3rem;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:hover {
        // margin-bottom: 4px;
        box-shadow: 7px 15px 20px rgb(165, 165, 165);
      }
      &:active {
        // margin-bottom: -4px;
        box-shadow: 5px 5px 10px rgb(165, 165, 165);
      }
      &-info {
        margin: 1rem;
        background-color: rgba(255, 255, 255, 0.719);
        padding: 1rem;
        font-size: 2rem;
        font-family: "Permanent Marker", cursive;
        width: 100%;
        text-align: center;

        &-addCart{
          position: absolute;
          top: 1rem;
          right: 1rem;
          width: 3rem;
          height: 3rem;
          color: rgba(255, 255, 255, 0.616);
          text-align: center;
          background-color: rgba(255, 0, 85, 0.562);
          border-radius: 100%;
          font-size: 2rem;
          padding-top: 4px;
        }

        &-price{
          margin-left: 2rem;
          text-align: right;
          font-size: 1.5rem;
        }
      }
    }
  }

  &-scrollers {
    cursor: pointer;
    font-size: 4rem;
    margin: 1rem;
    color: rgb(218, 218, 218);
  }
}
