.authScreen {
  &-wrapper {
    max-width: 140rem;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  &-logo {
    // background-color: blueviolet;
    text-align: center;
    & img {
      width: 80%;
    }
  }

  &-content {
    // background-color: deepskyblue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.auth{
    &-form{
        width: 80%;
        height: 60%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.233);
        
    &-header{
        width: 100%;
        height: 15%;
        background-color: #FF0053;
        color: #fff;
        font-family: 'Oleo Script', cursive;
        text-align: center;
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &-error{
      background-color: rgba(250, 64, 64, 0.747);
      height:5%;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      padding: 0.5rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-message{
        width: 90%;
      }

      &-close{
        width: 10%;
        cursor: pointer;
      }
    }

    &-form{
        width:100%;
        height: 80%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-evenly;
        & form *{
            display: block;
            margin: 2rem 0;
            font-size: 2rem;
            padding: 1rem;
            border: none;
            border-bottom: 1px solid rgb(141, 141, 141);
            
        }

        &-submitBtn{
            text-align: center;
            background-color: #FF0053;
            color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
            text-align: center;
            width: 100%;
            margin-top: 4rem;
        }

       
    }

    &-google{
        cursor: pointer;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.233);
        width: 40%;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        & img{
            width: 3rem;
        }

        & span{
            font-size: 1.5rem;
        }
    }

    &-link{
        cursor: pointer;
        color:  #FF0053;
        font-size: 1.2rem;
    }
    }

}


