@mixin flexIt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartItem{
    &-wrapper{
        height: 10rem;
        display: flex;
        margin: 2rem 0;
        display: flex;
        justify-content: space-evenly;
    }

    &-img{
        width: 30%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
    }

    &-info{
        width: 50%;
        font-size: 1.5rem;
        color: #aaa;
        align-items: center;
        @include flexIt()
    }

    &-qty{
        width: 10%;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        text-align: center;


        &-buttons{
            cursor: pointer;
        }
    }

    &-remove{
        @include flexIt();
        font-size:1.5rem;
        & *{
            cursor: pointer;

        }
        & *:hover{
            color: #ff0000;
        }
    }
}